*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
    font-family: 'Darker Grotesque', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 2.5em;
    padding: 1rem;
    width: 100%;
    height: auto;
    text-align: center;
    background: #82C8EF;
    border: 0px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#adoteLobo{
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: auto;
    padding: 1rem;
    top: 116px;
    background-image: url("image (3).png");
    background-size: 100%;
    background-position-y: -16em;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    text-align: center;
}
.adoteTitle{
    font-weight: bold;
    height: 60px;
    font-size: 6em;
    padding: 1rem;
    padding: 120px;
}
#textoAdote{
    font-size: 1.8em;
    line-height: 0.8em;
}
.sobre{
    text-align: center;
    width: 100%;
    height: auto;
    top: 595px;
    padding: 3rem;
    background: #2C567F;
    border: 0px;
    box-sizing: border-box;
}
.titulo{
    font-size: 3.2em;
    font-weight: bold;
    color: #D7B55A;
    text-align: center;
}
.sobreTexto{
    font-size: 1.4em;
    color: white;
}
.conteiner{
    width: 100%;
    max-width: 1100px;
    margin:0 auto;
    padding: 1rem;
    line-height: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.valores{
    text-align: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    top: 872px;
    background: #333333;
    border: 0px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.valoresTexto{
    color:white;
    
}
.fotoValores{
    background-color: white;
    border-radius: 50%;
}
.exemplos{
    color: white;
    width: 100%;
    height: auto;
    top: 1222px;
    background: #FFFFFF;
}
.lobo1Foto{
    box-shadow: #2C5680 -2em -2em;
}
.lobo1{
    margin: 3rem auto;
    color: black;
    display: flex;
    justify-content: space-around;
}
.textoLobo1{
    font-weight: 600;
    width: 80%;
    max-width: 2800px;
}
.lobo2{
    margin: 3rem auto;
    color: black;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
}
.textoLobo2{
    font-weight: 600;
    width: 80%;
    max-width: 2800px;
}
.descLobo1{
    padding-left: 2em;
    max-width: 400px;
}
.descLobo2{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    max-width: 400px;
}
.lobo2Foto{
    box-shadow: #2C5680 2em -2em;
}
footer{
    color: white;
    border: 0px solid;
    width: 100%;
    height: auto    ;
    top: 2072px;
    display: flex;
    justify-content: space-evenly;
    background: #333333;
}
.borda{
    height: auto;
    height: 0.4rem;
    background-image: linear-gradient(88deg,rgb(222,182,89),rgb(45,86,128));
}
.tiraPatinha{
    display: flex;
    padding: 50px;
    flex-direction:row;
}
.lado{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
#logoPata{
    height: 140px;
}
#mapa{
    width: 250px;
}
.desenvolvido{
    color: white;
}
.patinhaDes{
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#quemSomos{
    width: 100px;
    height: 30px;
    background-color:#D7B55A;
}
#linhaHorizontal{
    content: "";
    
	display: block;
	padding-top: .5rem;
    border-top: 4px solid rgb(238, 238, 238)
}